<form [formGroup]="companyForm" (ngSubmit)="onSubmit()" novalidate>
  <input formControlName="name" placeholder="name" type="text">

  <button [disabled]="companyForm.invalid" type="submit">확인</button>
</form>

<p *ngIf="count$ | async as count">{{ count }}</p>

<ul>
  <li *ngFor="let company of companies$ | async">
    <span>{{ company.name }}</span>
    <button (click)="delete(company.id)" type="button">X</button>

    <app-team [companyId]="company.id"></app-team>
  </li>
</ul>

<p>team</p>
<ul>
  <li *ngFor="let team of teams$ | async">{{ team.name }}</li>
</ul>

<button dnlBack type="button">뒤로</button>
